build/
*.o
*.d
*.elf
*.bin
*.img

compile_commands.json
.history/
.gdb_history
qemu.log
tags
cscope.*
GPATH
GRTAGS
GTAGS

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
Attributes
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
.history/
.clangd/
*.swp
*~
*.bak
.cache/

pi4-boot/kernel8.img
