# Build artifacts
build/
compile_commands.json
*.o
*.d
*.elf
*.bin
*.img
*.cpio
.cflags
sdcard.img

# IDE / Editor
.vscode/
.cache/
.history/
.idea/
*.swp

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
